*{
    margin:0;
    padding: 0;
    outline: 0;
}

header nav ul {
    list-style-type: none;
    display: flex; 
    justify-content: center; 
    text-align: center;  
}  
header nav ul li {
    padding: 0.5rem;
    width: 100px;
} 
header nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  
}
header{
    background-color: black;
}
header nav ul :hover{
    background-color: rgb(255, 169, 181);
    color: black;
}

h1{
    color:rgb(0, 0, 0);
    width: 300px;
}
table tr th, table tr td{
    border: 0.1rem solid rgb(0, 0, 0);
    padding: 1rem;
}
table{
    border-collapse: collapse;
    
}
.tabela{
    display: flex;
   justify-content: space-around;  
}

.matriz{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.dados{
    margin-top: 200px;
    margin-left: 800px;    

}


section{
    height: 100vh;
}
.pergunta li a{
    text-decoration: none;
    color: black;
}
.pergunta li{
    padding-left: 2rem;
    padding: 0.5rem;
}